.figure {
  width: 700px !important;
}

.image-info {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 1);
}

.image-info p {
  padding: 0rem 1.5rem;
}
